<!DOCTYPE html>
<html lang="en">
{% extends "snhupediabase.html" %}

{% block content %}
    <!--form input-->
    <div class="snhupedia-box-shadow snhupedia-box-color container border p-5 my-5 snhupedia-box-color">

        <h1>Edit article:</h1><br>
        <p1 class="form-control p-3">
            <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" class="btn btn-primary">
                <button class="btn btn-danger"><a href="{% url 'post_delete' post.pk %}" class="text-white">Delete Article</a></button>
            </form>
        </p1>
{% endblock content %}