<!DOCTYPE html>
<html lang="en">
{% extends "snhupediabase.html" %}

{% block content %}
 <!-- The main paragraph, including picture and all -->
        <div class="snhupedia-box-shadow snhupedia-box-color container border p-5 my-5">
        <h1 class="text-center">{{ post.title }}</h1>
        <img src="{{ post.image.url }}" class="rounded mx-auto d-block img-fluid" alt="Article Image">
        <p class="p-3">{{ post.body }}</p>
    </div>

    <!-- This contains the information for who created and who edited the file -->

    <div class="snhupedia-box-shadow snhupedia-box-color container border p-5 my-5 bg-dark">
        <div class="text-center text-white font-weight-bold snhupedia-monospace">Revisions:</div>
        <div class="text-white m-2 snhupedia-monospace">Created by: <p1 class="font-italic">{{ post.author }} on {{ post.created }}</p1></div>
        <div class="text-white m-2 snhupedia-monospace">Last modified on: <p1 class="font-italic">{{ post.modified }}</p1></div>
        <br>
        <button type="button" class="btn btn-secondary"><a href="{% url 'post_edit' post.pk %}" class="text-white">Edit Article</a></button>
    </div>
{% endblock content %}