<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- bootstrap stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- personal stylesheet for minor tweaks -->
    <link rel="stylesheet" href="/static/css/snhupediaTheme.css">

</head>
<body>
    <div class="snhupedia-box-shadow snhupedia-box-color container border p-5 my-5">
        <h1>Shapiro Library (Example)</h1>
        <img src="/static/images/articleimgs/shapiroLibrary.png" class="rounded mx-auto d-block img-fluid" alt="Article Image">
        <p>Title Goes Here</p>
        <p>Paragraph preview The Shapiro Library is the library on campus. This is an example of an article preview. The library is located near the dining hall...</p>
        <p class="text-secondary">Last edited by: Example on: 12/8/22</p>
    </div>
</body>
</html>